<head>
    <%- include('../partials/head') %>
        <%- include('../partials/navbarAfterLogin') %>
</head>

<% if (message) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= message %>
    </div>
    <% } %>


        <div class="all-posts container">
            <h2>Welcome back, <%= name %>
            </h2>
            <%if (journals.length===0) { %>
                <h2>You don't have any posts! Click the Add button</h2>

                <% } else { journals.sort(function(a, b) {return new Date(a.date) - new Date(b.date)});}%>
                    <% for (let i=journals.length - 1; i>= 0; i--) { %>
                        <a class="blogs-tags" href="/blog/<%= journals[i]._id %>">
                            <div class="post-container">
                                <h2 class="span-text">
                                    <%= journals[i].title %> On: <%= journals[i].date.toLocaleDateString("en-US") %>
                                </h2>
                                <div>
                                    <span class="span-text">
                                        <%= (journals[i].body).substring(0, 200) %>...
                                    </span>
                                </div>
                            </div>
                        </a>
                        <% } %>


        </div>
        <!-- <img class="addImg" src="/add.png" alt=""> -->
        <a class="nav-link" href="/compose"><img class="addImg" src="/add.png" alt=""></a>
        <%- include("../partials/footer") -%>