<%- include('../partials/head') %>
    <%- include('../partials/navbarAfterLogin') %>
        <style>
            body {
                background-image: url("/background.jpeg");
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        </style>
        <div class="container ">
            <h2 class="post-container">
                <% if (journal) { %>
                    <%= journal.title %>
                        <% } %> On:
                            <% if (journal) { %>
                                <%= journal.date.toLocaleDateString("en-US") %>
                                    <% } %>
            </h2>
            <p class="blog-para post-container">
                <% if (journal) { %>
                    <%= journal.body%>
                        <% } %>
            </p>
            <a href="/compose/edit/<%= journal._id %>">
                <button class="compose-btn btn btn-dark save-btn" type="submit" name="button">Edit</button>
            </a>
            <a href="/blog/delete/<%= journal._id %>">
                <button class="compose-btn btn btn-dark save-btn" type="submit" name="button">Delete</button>
            </a>
        </div>
        <%- include("../partials/footer") -%>