<head>
    <%- include('../partials/head') %>
        <%- include('../partials/navbarInCompose') %>
</head>
<div class="compose-area container all-posts ">
    <h2>Start writing now, your space is endless...</h2>
    <form class="form-group compose-form" action="/compose" method="post" autocomplete="off">
        <label for="title">Today's Chapter Title</label>
        <input type="text" class="form-control" name="title" rows="5" cols="30" required contenteditable="true"
            value="<% if (journal) { %><%= journal.title %><% } %>">


        <label for="journal">Journal</label>
        <textarea class="form-control post-area" name="body" required
            contenteditable="true"><% if (journal) { %><%= journal.body%><% } %></textarea>
        <button class="compose-btn btn btn-dark save-btn" type="submit" name="button">Save</button>
    </form>
</div>
<a class="nav-link" href="/blogs"><img class="back" src="/back.png" alt=""></a>

<%- include('../partials/footer') %>